/* Common less variables
-----------------------------------------------------------*/

@base-font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
@base-color: #232323;
@base-font-size: 12px;

@top-height: 30px;
@left-width: 30px;
@titles-width: 200px;

